body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('/img/Nuvens.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.painel {
    width: 600px;
    height: 525px;
    margin: auto;
    border-radius: 20px;
    padding-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.painel2 {
    width: 600px;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    padding-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.texto {
    color: white;
    margin-top: -100px;
}


.slider {
    margin: 0 auto;
    width: 600px;
    height: 500px;
    overflow: hidden;
    
}

.slides {
    width: 400%;
    height: 350px;
    display: flex;
    

}

.slides input {
    display: none;

}

.slide {
    width: 25%;
    position: relative;
    


}

.slide img {
    width: none;
   
}

.manual-navigation {
    width: 100%;
    bottom: 225px;
    /* Posiciona os botões 10px acima da borda inferior */
    display: flex;
    margin-left: 250px;
    gap: 10px;

}

.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .05s;
    background-color: white;
    /* Ajuste para tornar os botões mais visíveis */
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background-color: black;
}

#radio1:checked~.firts {
    margin-left: 0;
}

#radio2:checked~.firts {
    margin-left: -25%;
}

#radio3:checked~.firts {
    margin-left: -50%;
}

#radio4:checked~.firts {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .05s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: black;
}

#radio1:checked~.navigation-auto .auto-btn2 {
    background-color: black;
}

#radio1:checked~.navigation-auto .auto-3 {
    background-color: black;
}

#radio1:checked~.navigation-auto .auto-btn4 {
    background-color: black;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
}




img {
    display: block;
    margin: -25px auto 0;
    height: 350px;
    width: auto;

}

button {
    height: 40px;
    width: 60px;
    background-color: #D6A2A3;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    margin-top: auto;
}

/* Adicionando regras de mídia para dispositivos menores */

@media (max-width: 768px) {
    .painel,
    .painel2 {
        width: 95%; /* Redimensiona o painel para preencher a largura da tela */
        padding: 15px; /* Adiciona um pouco de espaço interno */
    }

    .slider,
    .slides,
    .slide,
    img {
        width: 100%; /* Redimensiona as imagens e os elementos do slider para preencher a largura do painel */
    }

    .manual-navigation {
        margin-left: 0; /* Alinha a navegação manual ao centro */
    }

    .navigation-auto {
        width: 95%; /* Redimensiona a barra de navegação automática para preencher a largura da tela */
        margin-left: auto;
        margin-right: auto; /* Alinha a barra de navegação automática ao centro */
    }

    .navigation-auto div:not(:last-child) {
        margin-right: 20px; /* Espaçamento menor entre os botões da barra de navegação automática */
    }

    #radio1:checked~.navigation-auto .auto-btn1,
    #radio2:checked~.navigation-auto .auto-btn2,
    #radio3:checked~.navigation-auto .auto-btn3,
    #radio4:checked~.navigation-auto .auto-btn4 {
        background-color: white; /* Cor de fundo para indicar qual slide está ativo */
    }
}

@media (max-width: 480px) {
    .manual-btn {
        width: 6px;
        height: 6px; /* Redimensiona os botões de navegação manual */
    }

    button {
        height: 35px;
        width: 70px; /* Ajusta o tamanho dos botões */
    }
}
